<div class="bkc-scoreboard" #scContainer>

  <div class="header-row container-fluid" ngxSticky [triggerOn]="brackets" [scrollContainer]="scContainer">
    <div class="row align-items-center">
      <div class="col text-center p-0">Rank</div>
      <div class="col-10 p-0 pl-2">Bracket</div>
      <div class="col-6 text-center">Champs</div>
      <div class="col text-center p-0">Score</div>
    </div>
  </div>

  <div #brackets>
    <div *ngFor="let bracket of brackets$ | async; let index = index; trackBy: trackByKey" [ngClass]="{'cash-line': index === cashLine}">
      <bracket-card
        [bracket]="bracket"
        [rank]="index + 1">
      </bracket-card>
    </div>
  </div>
</div>
