<div class="team-manager">
  <!-- <button mat-mini-fab type="button" color="primary" (click)="addTeam()"><mat-icon>add</mat-icon></button> -->

  <mat-tab-group mat-stretch-tabs dynamicHeight (selectedTabChange)="changeView($event)">
    <mat-tab label="Division"></mat-tab>
    <mat-tab label="Conference"></mat-tab>
    <mat-tab label="Overall"></mat-tab>
  </mat-tab-group>

  <div *ngFor="let team of (teams$ | async) as teams; let index = index; trackBy: trackByKey">
    <div *ngIf="(field$ | async) !== Fields.Overall && (index === 0 || teams[index-1].conference !== team.conference)">{{ team.conference }}</div>
    <div *ngIf="(field$ | async) === Fields.Division && (index === 0 || teams[index-1].division !== team.division)">{{ team.division }}</div>
    <div class="team mat-elevation-z1">
      <div class="logo">
        <svg-icon [name]="logoName(team)" [iconSize]="40"></svg-icon>
      </div>
      <div class="abbreviation">{{ team.abbreviation }}</div>
      <div class="location">{{ team.location }}</div>
      <div class="team-name">{{ team.name }}</div>
      <div class="edit-button">
        <button mat-icon-button type="button" color="primary" (click)="editTeam(team)"><mat-icon>edit</mat-icon></button>
      </div>
    </div>
  </div>
</div>
