<div class="team-manager">

  <div class="button-group">
    <button mat-flat-button color="accent" *ngIf="activeSort === SORT_TYPES.DIVISION">Division</button>
    <button mat-stroked-button color="accent" *ngIf="activeSort !== SORT_TYPES.DIVISION" (click)="changeSort(SORT_TYPES.DIVISION)">Division</button>
    <button mat-flat-button color="accent" *ngIf="activeSort === SORT_TYPES.CONFERENCE">Conference</button>
    <button mat-stroked-button color="accent" *ngIf="activeSort !== SORT_TYPES.CONFERENCE" (click)="changeSort(SORT_TYPES.CONFERENCE)">Conference</button>
    <button mat-flat-button color="accent" *ngIf="activeSort === SORT_TYPES.OVERALL">Overall</button>
    <button mat-stroked-button color="accent" *ngIf="activeSort !== SORT_TYPES.OVERALL" (click)="changeSort(SORT_TYPES.OVERALL)">Overall</button>
  </div>

  <button mat-icon-button color="primary" class="add-button" (click)="addTeam()"><mat-icon>playlist_add</mat-icon></button>

  <div *ngFor="let team of (teams$ | async) as teams; let index = index; let last = last; trackBy: trackByKey">
    <div class="section-label conference" [ngClass]="{'min-height' : (field$ | async) !== Fields.Division}" *ngIf="(field$ | async) !== Fields.Overall && (index === 0 || teams[index-1].conference !== team.conference)">{{ team.conference }} Conference</div>
    <div class="section-label division" *ngIf="(field$ | async) === Fields.Division && (index === 0 || teams[index-1].division !== team.division)">{{ team.division }} Division</div>
    <div class="section-label overall" [ngClass]="{'min-height' : (field$ | async) !== Fields.Division}" *ngIf="(field$ | async) === Fields.Overall && index === 0">All Teams</div>
    <div class="team" [ngClass]="{'team-divider': showDivider(team, teams[index+1], last)}">
      <div class="logo">
        <svg-icon [name]="logoName(team)" [iconSize]="40"></svg-icon>
      </div>
      <div class="abbreviation">{{ team.abbreviation }}</div>
      <div class="location">{{ team.location }}</div>
      <div class="team-name">{{ team.name }}</div>
      <div class="edit-button">
        <button mat-icon-button type="button" color="primary" (click)="editTeam(team)"><mat-icon>edit</mat-icon></button>
      </div>
    </div>
  </div>
</div>
