.team-manager{

  .button-group {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;

    button {
      flex: 1;
      margin: 0 0.5rem;
    }
  }

  .section-label {
    padding: 0.25rem;

    &.conference,
    &.overall {
      font-size: 1rem;

      &.min-height {
        line-height: 2.5rem;
      }
    }
  }

  .add-button {
    position: absolute;
    right: 0.5rem;
    font-weight: 700;
  }

  .abbreviation {
    grid-area: abbreviation;
    align-self: center;
    justify-self: center;
  }

  .edit-button {
    grid-area: edit-button;
    align-self: center;
    justify-self: center;
  }

  .location {
    grid-area: location;
    align-self: center;
    justify-self: center;
  }

  .logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
  }

  .team-name {
    grid-area: team-name;
    align-self: center;
    justify-self: center;
  }

  .team {
    display: grid;
    grid-template-columns: 16% 16% 27% 27% 14%;
    grid-template-rows: auto;
    grid-template-areas: "logo abbreviation location team-name edit-button";
    padding: 0.5rem 0;
    background-color: #353535;

    &.team-divider {
      border-bottom: 1px dotted #606060;
    }
  }
}
