<div class="container-fluid">
  <form [formGroup]="bracketForm" (ngSubmit)="submitBracket()">
    <div class="row justify-content-center" *ngIf="isDetailMode()">
      <div class="col">
        <button type="button" class="btn btn-outline-secondary" routerLink="/">
          <span class="fa fa-reply pr-2"></span>
          <span class="d-inline-block d-sm-none">Return</span>
          <span class="d-none d-sm-inline-block">Return to Scoreboard</span>
        </button>
      </div>
      <div class="col-3 text-center score d-none d-md-block" *ngIf="!canEdit">
        Score: {{ bracket?.score }}
      </div>
      <div class="col-6 pt-1 text-right d-block d-md-none">
          <app-toggle-switch title="Results" inline="true" [isChecked]="showResults" (onToggle)="toggleResults($event)"></app-toggle-switch>
      </div>
      <div class="col text-right" *ngIf="canEdit">
        <button type="button" class="btn btn-outline-primary" (click)="editBracket()">
          <span class="fa fa-pencil-square-o pr-2"></span>
          <span class="d-inline-block d-sm-none">Edit</span>
          <span class="d-none d-sm-inline-block">Edit Bracket</span>
        </button>
      </div>
    </div>

    <div class="row mt-3 justify-content-center d-flex d-md-none">
      <div class="col-4 score text-center">
        Score: {{ bracket?.score }}
      </div>
    </div>

    <div class="row" *ngIf="!isDetailMode()">
      <div class="col-6">
        <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
      </div>
      <div class="col-6 text-right">
        <button type="submit" class="btn btn-success" [disabled]="!bracketForm.valid">Save</button>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-md-6 text-center">
        <div class="form-group" *ngIf="!isDetailMode()">
          <input type="text"
                 id="bracketName"
                 class="form-control text-center"
                 [ngClass]="{ error: !bracketForm.controls['bracketName'].valid, success: bracketForm.controls['bracketName'].valid }"
                 placeholder="Bracket Name"
                 formControlName="bracketName" />
          <span class="text-danger small" [hidden]="!isBracketNameTaken()">Bracket name already exists -- choose another name</span>
        </div>
        <h5 class="bracket-name" [innerText]="bracket?.name" *ngIf="isDetailMode()"></h5>
      </div>
    </div>

    <div *ngIf="bracket">
      <div class="row justify-content-center">
        <div class="col-4 text-center">
          <div class="champions">
            <p>Stanley Cup Champions</p>
            <p [ngClass]="{ error : !bracket.winner.name }">
              <span *ngIf="bracket.winner.name"
                [innerText]="bracket.winner.name"
                [ngClass]="getClassMatchingMaster()">
              </span>
            </p>
            <p class="win-override text-success"
              *ngIf="isDetailMode() && !isMasterMatch()">
                {{ masterBracket?.winner.name }}
            </p>
            <span *ngIf="!isDetailMode()">
              <span class="final-input">
                <label for="numberOfGamesFinal" class="final-games">Games:</label>
                <input type="text"
                  id="numberOfGamesFinal"
                  class="form-control text-center predictor final-games"
                  [ngClass]="{ error: !bracketForm.controls['numberOfGamesFinal'].valid, success: bracketForm.controls['numberOfGamesFinal'].valid }"
                  placeholder="Games"
                  formControlName="numberOfGamesFinal" />
              </span>
              <span class="final-input">
                <label for="numberOfGoalsFinal" class="final-goals">Goals:</label>
                <input type="text"
                  id="numberOfGoalsFinal"
                  class="form-control text-center predictor final-goals"
                  [ngClass]="{ error: !bracketForm.controls['numberOfGoalsFinal'].valid, success: bracketForm.controls['numberOfGoalsFinal'].valid }"
                  placeholder="Goals"
                  formControlName="numberOfGoalsFinal" />
              </span>
            </span>
            <span *ngIf="isDetailMode()">
              <span class="predictor final-games detail-mode">
                <span>Games:</span>
                <span [innerText]="bracket.games"></span>
              </span>
              <span class="predictor final-goals detail-mode">
                <span>Goals:</span>
                <span [innerText]="bracket.goals"></span>
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="row bracket">
        <div class="col-12 col-md bracket-left">

          <div class="row conference-name d-block d-md-none mt-5">
            <div class="col text-center">
              {{ bracket.conferences[0].name }}
            </div>
          </div>

          <div class="row">

            <div class="col bracket-round round-1">
              <div *ngFor="let division of bracket.conferences[0].divisions; let divisionIndex = index;">
                <div class="row" *ngFor="let matchup of division.rounds[0].matchups">
                  <div class="col bracket-matchup">
                    <div class="row">
                      <div class="col bracket-team bracket-team-top">
                        <span class="bracket-team-name" *ngIf="isDetailMode()">
                          {{ matchup.topSeed.seed }} - {{ matchup.topSeed.name }}
                        </span>
                        <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode()">
                          <button type="button" class="btn btn-link" (click)="pickTeam(0, divisionIndex, matchup.id, true)">
                            {{ matchup.topSeed.seed }} - {{ matchup.topSeed.name }}
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col bracket-team bracket-team-bottom">
                        <input type="text"
                          id="{{ 'numberOfGames0' + divisionIndex + matchup.id }}"
                          class="form-control text-center predictor"
                          *ngIf="!isDetailMode()"
                          [ngClass]="{ error: !bracketForm.controls['numberOfGames0' + divisionIndex + matchup.id].valid, success: bracketForm.controls['numberOfGames0' + divisionIndex + matchup.id].valid }"
                          placeholder="Games"
                          formControlName="{{ 'numberOfGames0' + divisionIndex + matchup.id }}" />
                        <span class="predictor detail-mode" *ngIf="isDetailMode()">
                          Games: {{ matchup.games }}
                        </span>
                        <span class="bracket-team-name" *ngIf="isDetailMode()">
                          {{ matchup.bottomSeed.seed }} - {{ matchup.bottomSeed.name }}
                        </span>
                        <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode()">
                          <button type="button" class="btn btn-link" (click)="pickTeam(0, divisionIndex, matchup.id)">
                            {{ matchup.bottomSeed.seed }} - {{ matchup.bottomSeed.name }}
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col bracket-round round-2">
              <div *ngFor="let division of bracket.conferences[0].divisions; let divisionIndex = index;">
                <div class="row" *ngFor="let matchup of division.rounds[1].matchups; let matchupIndex = index;">
                  <div class="col bracket-matchup">
                    <div class="row">
                      <div class="col bracket-team bracket-team-top">
                        <span class="bracket-team-name"
                          *ngIf="isDetailMode() && matchup.topSeed.name"
                          [ngClass]="getClassMatchingMaster(0, divisionIndex, 1, matchupIndex)">
                          {{ matchup.topSeed.name }}
                        </span>
                        <span class="bracket-team-name win-override text-success"
                          *ngIf="isDetailMode() && !isMasterMatch(0, divisionIndex, 1, matchupIndex)">
                          {{ masterBracket?.conferences[0].divisions[divisionIndex].rounds[1].matchups[matchupIndex].topSeed.name }}
                        </span>
                        <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && matchup.topSeed.name">
                          <button type="button" class="btn btn-link" (click)="pickTeam(0, divisionIndex, matchup.id, true)">
                            {{ matchup.topSeed.name }}
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col bracket-team bracket-team-bottom">
                        <input type="text"
                          id="{{ 'numberOfGames0' + divisionIndex + matchup.id }}"
                          class="form-control text-center predictor"
                          *ngIf="!isDetailMode()"
                          [ngClass]="{ error: !bracketForm.controls['numberOfGames0' + divisionIndex + matchup.id].valid, success: bracketForm.controls['numberOfGames0' + divisionIndex + matchup.id].valid }"
                          placeholder="Games"
                          formControlName="{{ 'numberOfGames0' + divisionIndex + matchup.id }}" />
                        <span class="predictor detail-mode" *ngIf="isDetailMode()">
                          Games: {{ matchup.games }}
                        </span>
                        <span class="bracket-team-name"
                          *ngIf="isDetailMode() && matchup.bottomSeed.name"
                          [ngClass]="getClassMatchingMaster(0, divisionIndex, 1, matchupIndex, false)">
                          {{ matchup.bottomSeed.name }}
                        </span>
                        <span class="bracket-team-name win-override text-success"
                          *ngIf="isDetailMode() && !isMasterMatch(0, divisionIndex, 1, matchupIndex, false)">
                          {{ masterBracket?.conferences[0].divisions[divisionIndex].rounds[1].matchups[matchupIndex].bottomSeed.name }}
                        </span>
                        <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && matchup.bottomSeed.name">
                          <button type="button" class="btn btn-link" (click)="pickTeam(0, divisionIndex, matchup.id)">
                            {{ matchup.bottomSeed.name }}
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col bracket-round round-3">
              <div class="row">
                <div class="col bracket-matchup">
                  <div class="row">
                    <div class="col bracket-team bracket-team-top">
                      <span class="bracket-team-name"
                        *ngIf="isDetailMode() && bracket.conferences[0].divisions[0].winner.name"
                        [ngClass]="getClassMatchingMaster(0, 0)">
                        {{ bracket.conferences[0].divisions[0].winner.name }}
                      </span>
                      <span class="bracket-team-name win-override text-success"
                        *ngIf="isDetailMode() && !isMasterMatch(0, 0)">
                        {{ masterBracket?.conferences[0].divisions[0].winner.name }}
                      </span>
                      <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && bracket.conferences[0].divisions[0].winner.name">
                        <button type="button" class="btn btn-link" (click)="pickTeam(0, null, 4, true)">
                          {{ bracket.conferences[0].divisions[0].winner.name }}
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bracket-team bracket-team-bottom">
                      <input type="text"
                        id="numberOfGames004"
                        class="form-control text-center predictor"
                        *ngIf="!isDetailMode()"
                        [ngClass]="{ error: !bracketForm.controls['numberOfGames004'].valid, success: bracketForm.controls['numberOfGames004'].valid }"
                        placeholder="Games"
                        formControlName="numberOfGames004" />
                      <span class="predictor detail-mode" *ngIf="isDetailMode()">
                        Games: {{ bracket.conferences[0].games }}
                      </span>
                      <span class="bracket-team-name"
                        *ngIf="isDetailMode() && bracket.conferences[0].divisions[1].winner.name"
                        [ngClass]="getClassMatchingMaster(0, 1)">
                        {{ bracket.conferences[0].divisions[1].winner.name }}
                      </span>
                      <span class="bracket-team-name win-override text-success"
                        *ngIf="isDetailMode() && !isMasterMatch(0, 1)">
                        {{ masterBracket?.conferences[0].divisions[1].winner.name }}
                      </span>
                      <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && bracket.conferences[0].divisions[1].winner.name">
                        <button type="button" class="btn btn-link" (click)="pickTeam(0, null, 4)">
                          {{ bracket.conferences[0].divisions[1].winner.name }}
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col bracket-round round-4">
              <div class="row">
                <div class="col bracket-matchup">
                  <div class="row">
                    <div class="col bracket-team bracket-team-top">
                      <span class="bracket-team-name"
                        *ngIf="isDetailMode() && bracket.conferences[0].winner.name"
                        [ngClass]="getClassMatchingMaster(0)">
                        {{ bracket.conferences[0].winner.name }}
                      </span>
                      <span class="bracket-team-name win-override text-success"
                        *ngIf="isDetailMode() && !isMasterMatch(0)">
                        {{ masterBracket?.conferences[0].winner.name }}
                      </span>
                      <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && bracket.conferences[0].winner.name">
                        <button type="button" class="btn btn-link" (click)="pickTeam(null, null, null, true)">
                          {{ bracket.conferences[0].winner.name }}
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1 d-md-block d-sm-none"></div>
        <div class="col-12 col-md bracket-right">

          <div class="row conference-name d-block d-md-none mt-5">
            <div class="col text-center">
              {{ bracket.conferences[1].name }}
            </div>
          </div>

          <div class="row">

            <div class="col bracket-round round-4">
              <div class="row">
                <div class="col bracket-matchup">
                  <div class="row">
                    <div class="col bracket-team bracket-team-top">
                      <span class="bracket-team-name"
                        *ngIf="isDetailMode() && bracket.conferences[1].winner.name"
                        [ngClass]="getClassMatchingMaster(1)">
                        {{ bracket.conferences[1].winner.name }}
                      </span>
                      <span class="bracket-team-name win-override text-success"
                        *ngIf="isDetailMode() && !isMasterMatch(1)">
                        {{ masterBracket?.conferences[1].winner.name }}
                      </span>
                      <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && bracket.conferences[1].winner.name">
                        <button type="button" class="btn btn-link" (click)="pickTeam()">
                          {{ bracket.conferences[1].winner.name }}
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col bracket-round round-3">
              <div class="row">
                <div class="col bracket-matchup">
                  <div class="row">
                    <div class="col bracket-team bracket-team-top">
                      <span class="bracket-team-name"
                        *ngIf="isDetailMode() && bracket.conferences[1].divisions[0].winner.name"
                        [ngClass]="getClassMatchingMaster(1, 0)">
                        {{ bracket.conferences[1].divisions[0].winner.name }}
                      </span>
                      <span class="bracket-team-name win-override text-success"
                        *ngIf="isDetailMode() && !isMasterMatch(1, 0)">
                        {{ masterBracket?.conferences[1].divisions[0].winner.name }}
                      </span>
                      <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && bracket.conferences[1].divisions[0].winner.name">
                        <button type="button" class="btn btn-link" (click)="pickTeam(1, null, 4, true)">
                          {{ bracket.conferences[1].divisions[0].winner.name }}
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bracket-team bracket-team-bottom">
                      <input type="text"
                        id="numberOfGames104"
                        class="form-control text-center predictor"
                        *ngIf="!isDetailMode()"
                        [ngClass]="{ error: !bracketForm.controls['numberOfGames104'].valid, success: bracketForm.controls['numberOfGames104'].valid }"
                        placeholder="Games"
                        formControlName="numberOfGames104" />
                      <span class="predictor detail-mode" *ngIf="isDetailMode()">
                        Games: {{ bracket.conferences[1].games }}
                      </span>
                      <span class="bracket-team-name"
                        *ngIf="isDetailMode() && bracket.conferences[1].divisions[1].winner.name"
                        [ngClass]="getClassMatchingMaster(1, 1)">
                        {{ bracket.conferences[1].divisions[1].winner.name }}
                      </span>
                      <span class="bracket-team-name win-override text-success"
                        *ngIf="isDetailMode() && !isMasterMatch(1, 1)">
                        {{ masterBracket?.conferences[1].divisions[1].winner.name }}
                      </span>
                      <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && bracket.conferences[1].divisions[1].winner.name">
                        <button type="button" class="btn btn-link" (click)="pickTeam(1, null, 4)">
                          {{ bracket.conferences[1].divisions[1].winner.name }}
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col bracket-round round-2">
              <div *ngFor="let division of bracket.conferences[1].divisions; let divisionIndex = index;">
                <div class="row" *ngFor="let matchup of division.rounds[1].matchups; let matchupIndex = index;">
                  <div class="col bracket-matchup">
                    <div class="row">
                      <div class="col bracket-team bracket-team-top">
                        <span class="bracket-team-name"
                          *ngIf="isDetailMode() && matchup.topSeed.name"
                          [ngClass]="getClassMatchingMaster(1, divisionIndex, 1, matchupIndex)">
                          {{ matchup.topSeed.name }}
                        </span>
                        <span class="bracket-team-name win-override text-success"
                          *ngIf="isDetailMode() && !isMasterMatch(1, divisionIndex, 1, matchupIndex)">
                          {{ masterBracket?.conferences[1].divisions[divisionIndex].rounds[1].matchups[matchupIndex].bottomSeed.name }}
                        </span>
                        <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && matchup.topSeed.name">
                          <button type="button" class="btn btn-link" (click)="pickTeam(1, divisionIndex, matchup.id, true)">
                            {{ matchup.topSeed.name }}
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col bracket-team bracket-team-bottom">
                        <input type="text"
                          id="{{ 'numberOfGames1' + divisionIndex + matchup.id }}"
                          class="form-control text-center predictor"
                          *ngIf="!isDetailMode()"
                          [ngClass]="{ error: !bracketForm.controls['numberOfGames1' + divisionIndex + matchup.id].valid, success: bracketForm.controls['numberOfGames1' + divisionIndex + matchup.id].valid }"
                          placeholder="Games"
                          formControlName="{{ 'numberOfGames1' + divisionIndex + matchup.id }}" />
                        <span class="predictor detail-mode" *ngIf="isDetailMode()">
                          Games: {{ matchup.games }}
                        </span>
                        <span class="bracket-team-name"
                          *ngIf="isDetailMode() && matchup.bottomSeed.name"
                          [ngClass]="getClassMatchingMaster(1, divisionIndex, 1, matchupIndex, false)">
                          {{ matchup.bottomSeed.name }}
                        </span>
                        <span class="bracket-team-name win-override text-success"
                          *ngIf="isDetailMode() && !isMasterMatch(1, divisionIndex, 1, matchupIndex, false)">
                          {{ masterBracket?.conferences[1].divisions[divisionIndex].rounds[1].matchups[matchupIndex].bottomSeed.name }}
                        </span>
                        <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode() && matchup.bottomSeed.name">
                          <button type="button" class="btn btn-link" (click)="pickTeam(1, divisionIndex, matchup.id)">
                            {{ matchup.bottomSeed.name }}
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col bracket-round round-1">
              <div *ngFor="let division of bracket.conferences[1].divisions; let divisionIndex = index;">
                <div class="row" *ngFor="let matchup of division.rounds[0].matchups">
                  <div class="col bracket-matchup">
                    <div class="row">
                      <div class="col bracket-team bracket-team-top">
                        <span class="bracket-team-name" *ngIf="isDetailMode()">
                          {{ matchup.topSeed.name }} - {{ matchup.topSeed.seed }}
                        </span>
                        <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode()">
                          <button type="button" class="btn btn-link" (click)="pickTeam(1, divisionIndex, matchup.id, true)">
                            {{ matchup.topSeed.name }} - {{ matchup.topSeed.seed }}
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col bracket-team bracket-team-bottom">
                        <input type="text"
                          id="{{ 'numberOfGames1' + divisionIndex + matchup.id }}"
                          class="form-control text-center predictor"
                          *ngIf="!isDetailMode()"
                          [ngClass]="{ error: !bracketForm.controls['numberOfGames1' + divisionIndex + matchup.id].valid, success: bracketForm.controls['numberOfGames1' + divisionIndex + matchup.id].valid }"
                          placeholder="Games"
                          formControlName="{{ 'numberOfGames1' + divisionIndex + matchup.id }}" />
                        <span class="predictor detail-mode" *ngIf="isDetailMode()">
                          Games: {{ matchup.games }}
                        </span>
                        <span class="bracket-team-name" *ngIf="isDetailMode()">
                          {{ matchup.bottomSeed.name }} - {{ matchup.bottomSeed.seed }}
                        </span>
                        <span class="bracket-team-name" [ngClass]="{ 'edit-mode' : !isDetailMode() }" *ngIf="!isDetailMode()">
                          <button type="button" class="btn btn-link" (click)="pickTeam(1, divisionIndex, matchup.id)">
                            {{ matchup.bottomSeed.name }} - {{ matchup.bottomSeed.seed }}
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="row toggle-buttons d-none d-md-block">
        <div class="col text-center">
          <app-toggle-switch title="Show Results" [isChecked]="showResults" (onToggle)="toggleResults($event)"></app-toggle-switch>
        </div>
      </div>
    </div>
  </form>
</div>
