@import '~bootstrap/scss/bootstrap-grid.scss';

.bracket {
  font-size: 0.75rem;

  .bracket-round {
    .bracket-group {
      .bracket-team {
        position: relative;
        height: 3.5rem;
        border-bottom: 1px solid black;

        .bracket-team-name {
          position: absolute;
          text-align: center;
          padding-right: 0.5rem;
          top: 2.25rem;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;

          @include media-breakpoint-only(md) {
            font-size: 0.5rem;
            top: 2.5rem;
          }
        }
      }
    }

    &.round-2 {
      .bracket-group {
        margin: 1.75rem 0;

        .bracket-team {
          &.bracket-team-bottom {
            padding-top: 7rem;

            .bracket-team-name {
              top: 5.75rem;
            }
          }
        }
      }
    }

    &.round-3 {
      .bracket-group {
        margin: 5.5rem 0;

        .bracket-team {
          &.bracket-team-bottom {
            padding-top: 14rem;

            .bracket-team-name {
              top: 12.75rem;
            }
          }
        }
      }
    }

    &.round-4 {
      .bracket-group {
        margin: 12.5rem 0;
      }
    }
  }

  .bracket-left .bracket-team-bottom {
    border-right: 1px solid black;
  }

  .bracket-right .bracket-team-bottom {
    border-left: 1px solid black;
  }
}

.bracket-name {
  color: $blue;
  border-bottom: 1px solid $gray-500;
  border-radius: 0.25rem;
  padding-bottom: 0.25rem
}

.float-center {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 3rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}


.error {
  border-color: $red;
  background-color: rgba($color: $red, $alpha: 0.01)
}

.success {
  border-color: $green;
  background-color: rgba($color: $green, $alpha: 0.025)
}
