<div class="contain">
  <form [formGroup]="bracketForm" (ngSubmit)="submitBracket()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" *ngIf="!isDetailMode()">
          <label for="bracketName">Bracket Name</label>
          <input type="text" id="bracketName" class="form-control" formControlName="bracketName" />
        </div>
        <span [innerText]="bracket?.name" *ngIf="isDetailMode()"></span>
      </div>
      <div class="col-md text-right" *ngIf="isDetailMode()">
        <button type="button" class="btn btn-light" (click)="editBracket()">Edit Bracket</button>
      </div>
    </div>
    <div class="row" *ngIf="!isDetailMode()">
      <div class="col-md text-right">
        <button type="button" class="btn btn-light" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-success" [disabled]="!bracketForm.valid">{{ isEditMode() ? 'Save' : 'Create' }}</button>
      </div>
    </div>
  </form>
</div>
