@import '~bootstrap/scss/bootstrap-grid.scss';

$border-color: $gray-500;

.bracket {
  font-size: 0.75rem;

  .conference-name {
    font-size: initial;
    color: $danger;
    border-bottom: 1px solid $border-color;
  }

  .bracket-round {
    .bracket-matchup {
      .bracket-team {
        position: relative;
        height: 3.5rem;
        border-bottom: 1px solid $border-color;

        .bracket-team-name {
          position: absolute;
          text-align: center;
          top: 2.25rem;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          color: rgba($primary, 0.75);

          &.edit-mode {
            top: 1.85rem;
          }

          &.text-danger {
            text-decoration: line-through;
          }

          &.win-override {
            top: 3.75rem;
          }

          @include media-breakpoint-only(md) {
            font-size: 0.5rem;
            top: 2.5rem;
          }

          @include media-breakpoint-only(xs) {
            font-size: 0.6rem;

            button {
              font-size: 0.6rem;
            }
          }
        }
      }
    }

    &.round-1 {
      @include media-breakpoint-up(sm) {
        .bracket-team-name {
          padding-right: 0.5rem;
        }
      }
    }

    &.round-2 {
      .bracket-matchup {
        margin: 1.75rem 0;

        .bracket-team {
          &.bracket-team-bottom {
            padding-top: 7rem;

            .predictor,
            .results {
              top: 2.75rem;
            }

            .bracket-team-name {
              top: 5.75rem;

              &.edit-mode {
                top: 5.35rem;
              }

              &.win-override {
                top: 7.25rem;
              }
            }
          }
        }
      }
    }

    &.round-3 {
      .bracket-matchup {
        margin: 5.5rem 0;

        .bracket-team {
          &.bracket-team-bottom {
            padding-top: 14rem;

            .predictor,
            .results {
              top: 6rem;
            }

            .bracket-team-name {
              top: 12.75rem;

              &.edit-mode {
                top: 12.35rem;
              }

              &.win-override {
                top: 14.25rem;
              }
            }
          }
        }
      }
    }

    &.round-4 {
      .bracket-matchup {
        margin: 12.5rem 0;
      }
    }
  }

  .bracket-left .bracket-team-bottom {
    border-right: 1px solid $border-color;
  }

  .bracket-right .bracket-team-bottom {
    border-left: 1px solid $border-color;
  }
}

.bracket-name {
  color: $blue;
  border-bottom: 1px solid $gray-500;
  border-radius: 0.25rem;
  padding-bottom: 0.25rem
}

.champions {
  color: $gray-700;

  p:nth-child(2) {
    color: rgba($primary, 0.75);
    min-height: 1.6rem;

    &.error {
      border: 1px solid rgba($red, 0.75);
      border-radius: 0.25rem;
    }

    .text-danger {
      text-decoration: line-through;
    }
  }

  .win-override {
    margin: -1rem 0 0;
  }

  label {
    font-size: 0.75rem;
    margin: 0;
  }

  .results {
    font-size: 0.75rem;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;

    .final-input {
      text-align: center;
      display: inline-block;
      margin: 0 1.5rem;
    }

    .predictor,
    .results {
      position: initial;

      &.detail-mode {
        display: inline-block;
        margin: 0 1.5rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .final-input {
      display: inline-block;
      margin: 0 1rem;

      label {
        display: block;
      }
    }

    .predictor,
    .results {
      position: relative;
      top: 0;
      display: inline-block;
    }

    .results {
      display: block;
      font-size: 0.9rem;
    }
  }

  @include media-breakpoint-down(sm) {
    .final-input {
      margin: 0 2rem;
    }
  }
}

.predictor {
  position: absolute;
  top: 0.6rem;
  font-size: 0.5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  width: 3.5rem;
  margin: 0 auto;
  left: 0;
  right: 0;

  &.detail-mode {
    font-size: 0.7rem;
    color: rgba($gray-600, 0.9);
    font-style: italic;

    span:nth-child(2) {
      display: block;
    }
  }
}

.results {
  position: absolute;
  top: 0.6rem;
  font-size: 0.5rem;
  font-style: italic;
  text-align: center;
  color: rgba($gray-600, 0.9);
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.error {
  border-color: $red;
  background-color: rgba($color: $red, $alpha: 0.01)
}

.success {
  border-color: $green;
  background-color: rgba($color: $green, $alpha: 0.025)
}

.toggle-buttons {
  position: relative;
  top: -3rem;
}

.score {
  font-size: 0.9rem;
  color: $secondary;
  padding: 0.25rem 0;
  border: 1px solid $secondary;
  border-radius: 0.25rem;

  @include media-breakpoint-down(sm) {
    padding: 0;
    border: none;
  }
}
