<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">NHL Bracket Challenge</a>

    @if (!isCheckingForAuth()) {
      <div
        id="mainNavigation"
        class="collapse navbar-collapse"
      >

      @if (!isAuthenticated() && currentUrl !== '/login') {
        <button
          type="button"
          class="btn btn-success ms-auto"
          routerLink="/login"
        >
          Login
        </button>
      }

      @if (isAuthenticated()) {
        <div class="user-info ms-auto text-end">
          <span class="username" [innerText]="username"></span>
          <button
            type="button"
            class="btn btn-link btn-sm px-0"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      }

      </div>
    }
  </div>
</nav>
