@import '~bootstrap/scss/bootstrap-grid.scss';

.matchup {
  font-size: 0.75rem;

  span {
    display: block;
  }

  input {
    width: 3rem;
    color: $secondary;
    text-align: center;
    margin: 0 auto;
  }
}
