<div class="row mt-3">
  <div class="col">
    <h4>Scoreboard</h4>
  </div>
  <div class="col text-right" *ngIf="!pastDeadline">
    <button type="button" class="btn btn-primary create-btn" routerLink="/bracket" [disabled]="!isAuthenticated()"><span class="fa fa-plus pr-2"></span>Create Bracket</button>
    <span class="loginMsg" *ngIf="!isAuthenticated()">Login to create a bracket</span>
  </div>
</div>
<div class="row no-gutters mt-4 d-md-none">
  <div class="col">
    <table class="table">
      <thead class="thead-light">
        <tr class="d-flex">
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-5">Bracket Name</th>
          <th scope="col" class="col-4">Owner</th>
          <th scope="col" class="col-2 text-center">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let bracket of (brackets$ | async)?.slice().reverse(); let idx = index;">
          <th class="col-1" scope="row" [innerText]="idx + 1"></th>
          <td class="col-5 text-truncate d-none d-md-flex"><a [innerText]="bracket.name" [routerLink]="['/bracket', bracket.key]"></a></td>
          <td class="col-5 text-truncate d-flex d-md-none"><a [innerText]="bracket.truncatedName" [routerLink]="['/bracket', bracket.key]"></a></td>
          <td class="col-4 text-truncate" [innerText]="bracket.owner.name"></td>
          <td class="col-2 text-center" [innerText]="bracket.score"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Larger displays / more columns -->
<div class="row no-gutters mt-4 d-none d-md-block">
  <div class="col">
    <table class="table">
      <thead class="thead-light">
        <tr class="d-flex">
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-4">Bracket Name</th>
          <th scope="col" class="col-3">Owner</th>
          <th scope="col" class="col-1 text-center">
              <span class="fa fa-check"></span>
          </th>
          <th scope="col" class="col-1 text-center">
              <span class="fa fa-handshake-o"></span>
          </th>
          <th scope="col" class="col-2 text-center">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let bracket of (brackets$ | async)?.slice().reverse(); let idx = index;">
          <th class="col-1" scope="row" [innerText]="idx + 1"></th>
          <td class="col-4 text-truncate"><a [innerText]="bracket.name" [routerLink]="['/bracket', bracket.key]"></a></td>
          <td class="col-3 text-truncate" [innerText]="bracket.owner.name"></td>
          <td class="col-1 text-center">
            <span class="fa fa-check text-success" *ngIf="bracket.isComplete"></span>
          </td>
          <td class="col-1 text-center">
              <span class="fa fa-handshake-o text-success" *ngIf="bracket.isTiebreakerComplete"></span>
          </td>
          <td class="col-2 text-center" [innerText]="bracket.score"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
