<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h4>Scoreboard</h4>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-primary create-btn" routerLink="/bracket" [disabled]="!isAuthenticated()"><span class="fa fa-plus pr-2"></span>Create Bracket</button>
      <span class="loginMsg" *ngIf="!isAuthenticated()">Login to create a bracket</span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Pos</th>
            <th scope="col">Bracket Name</th>
            <th scope="col">Owner</th>
            <th scope="col" class="text-center">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bracket of (brackets$ | async)?.slice().reverse(); let idx = index;">
            <th scope="row" [innerText]="idx + 1"></th>
            <td><a [innerText]="bracket.name" [routerLink]="['/bracket', bracket.key]"></a></td>
            <td [innerText]="bracket.owner"></td>
            <td class="text-center" [innerText]="bracket.score"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
