@import 'src/styles/partials/variables';

.scoreboard {
  .header-row {
    font-size: 0.65rem;
    background-color: dimgray;
    color: white;
  }

  .cash-line {
    border-bottom-style: dashed;
    border-bottom-color: $warn-light;
  }
}
