@import 'partials/bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';

@import 'partials/reset';
@import 'partials/form-fields';
@import 'partials/snackbars';

@import 'custom/bkc-header';
@import 'custom/tab-groups';

@import '~@angular/material/theming';

$bkc-typography: mat-typography-config(
  $font-family: "Roboto Condensed"
);

@include angular-material-typography($bkc-typography);
@include mat-core($bkc-typography);

@mixin custom-components-color($theme) {
  @include bkc-material-tab-groups($theme);
  @include bkc-header($theme);
}

@import './themes/bkc-dark-theme';

@include angular-material-theme($bkc-dark-theme);
@include custom-components-color($bkc-dark-theme);

@import './themes/bkc-light-theme';

.light-theme {
  @include angular-material-color($bkc-light-theme);
  @include custom-components-color($bkc-light-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
