$bkc-gold: (
    50 : #f2eee4,
    100 : #ddd5bc,
    200 : #c7ba90,
    300 : #b19e64,
    400 : #a08942,
    500 : #8f7421,
    600 : #876c1d,
    700 : #7c6118,
    800 : #725714,
    900 : #60440b,
    A100 : #ffd894,
    A200 : #ffc561,
    A400 : #ffb22e,
    A700 : #ffa914,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
