$bkc-blue: (
  50 : #e1ebf9,
  100 : #b5cdf1,
  200 : #84abe8,
  300 : #5389df,
  400 : #2e70d8,
  500 : #0957d1,
  600 : #084fcc,
  700 : #0646c6,
  800 : #053cc0,
  900 : #022cb5,
  A100 : #dee3ff,
  A200 : #abb9ff,
  A400 : #788fff,
  A700 : #5e7aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
