@import 'src/styles/partials/bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

div {
  width: 85%;
  margin: 0 auto;
}

@include media-breakpoint-down(xs) {
  div {
    width: 100%;
  }
}
