<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h4>Administration</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Master Bracket</h5>
          <p class="card-text">Use this link to update the master bracket</p>
          <a routerLink="/bracket/master" class="btn btn-primary">Go to Master Bracket</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Matchup Progress</h5>
          <p class="card-text">Update series standings for each matchup.</p>
          <a routerLink="results" class="btn btn-primary">Update Results</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Tiebreakers</h5>
          <p class="card-text">Upvote brackets based on tiebreakers for sorting purposes</p>
          <a routerLink="tiebreakers" class="btn btn-primary">Update Tiebreakers</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Finance</h5>
          <p class="card-text">Mark brackets as paid</p>
          <a routerLink="finance" class="btn btn-primary">Update Finances</a>
        </div>
      </div>
    </div>
  </div>
</div>
