<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">NHL Bracket Challenge</a>

    <div id="mainNavigation" class="collapse navbar-collapse" *ngIf="!isCheckingForAuth()">
      <button type="button" class="btn btn-success ml-auto" *ngIf="!isAuthenticated() && router.url != '/login'" routerLink="/login">Login</button>
      <div class="user-info ml-auto text-right" *ngIf="isAuthenticated()">
        <span class="username" [innerText]="username"></span>
        <button type="button" class="btn btn-link btn-sm px-0" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
