.login-form {
  margin: 2rem auto 0;
  max-width: 80vw;

  .buttons {
    display: flex;

    button {
      flex: 1 1 auto;
      margin: 0 2rem;
    }
  }

  .new-user-toggle {
    text-align: center;
    margin: 2rem 0;
  }

  .google-login {
    text-align: center;

    .google {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: rgba($color: black, $alpha: 0.54);
      text-transform: uppercase;
      background-color: white;
      padding: 2px 12px;
      border-bottom: 1px solid rgba($color: black, $alpha: 0.25);
      border-right: 1px solid rgba($color: black, $alpha: 0.25);
      border-top: 1px solid rgba($color: black, $alpha: 0.1);
      border-left: 1px solid rgba($color: black, $alpha: 0.1);

      .google-logo {
        background: transparent url('../../../assets/btn_google_normal.svg') 32px 32px;
        display: inline-block;
        height: 18px;
        width: 18px;
        vertical-align: text-bottom;
      }

      .google-text {
        padding-left: 8px;
      }

      &:active {
        background-color: #ECECEC;

        .google-logo {
          background: transparent url('../../../assets/btn_google_pressed.svg') 32px 32px;
        }
      }

      &:disabled {
        background-color: initial;

        .google-logo {
          background: url('../../../assets/btn_google_disabled.svg') 32px 32px;
        }
      }
    }
  }
}
