@import '~@angular/material/theming';

@mixin bkc-header($theme) {

  $primary: map-get($theme, primary);

  .bkc-header {
    .spacer {
      flex: 1 1 auto;
    }

    .mat-menu-item[disabled] {
      color: default;
    }

    .title {
      span {
        color: mat-color($primary, 400);
      }
    }
  }
}
